# dependencies
/node_modules
/.pnp
.pnp.*

# testing
/coverage

# production
/dist
/build
/out

# misc
.DS_Store
*.pem
*.log

# env files
.env*

# Vite
/vite.config.js.timestamp-*
/vite.config.ts.timestamp-*

# Visual Audit
public/*.png
